body {
    background-color: #fafafa;
    font-size: 17px;
    font-family: arial, verdana, "trebuchet ms";
    margin: 0;
    padding: 0;
}

a {
    color: #7b56b9;
    text-decoration: none;
}

a:hover {
    color: #7b56b9;
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 0px auto;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #eae2e5;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.menu {
    background-color: #efefef;
    border-bottom: 1px solid #eae2e5;
    box-shadow: 0px 5px 3px #dfdfdf;
    left: 0;
    color: #333333;
    position: fixed;
    top: 57px;
    width: 100%;
    z-index: 3;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.menu ul > li {
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 10px 20px;
}

.menu ul > li:hover {
    background-color: #fafafa;
    color: #222222;
    cursor: pointer;
}

#header-logo {
    margin: 10px 0px;
}

.listing {
    background: white;
    margin: 50px 0;
    margin-top: 80px;
}

#listing-container {
    border: 1px solid #eae2e5;
    border-top: none;
}

#listing-container > div {
    border-top: 1px solid #eae2e5;
    color: #ad97b0;
    padding: 10px;
}

#listing-container > div:hover {
    background-color: #f6effa;
}

.notebook {
    background: white;
    margin: 50px 0;
    margin-top: 80px;
}

#notebook-container {
    border: 1px solid #eae2e5;
    padding: 20px;
}

.notebook .block {
    border: 0;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    padding: 20px;
}

.notebook .block:focus {
    outline: none;
}

.notebook .block-selected {
    background-color: #f9f5fb;
    border-left: 5px solid #7b56b9;
}

.notebook .block-editing {
    background-color: #f9f5fb;
    border-left: 5px solid #047d65;
}

.notebook .block-content {
    background-color: #ffffff;
    border: 1px solid #bbb3b6;
    padding: 10px;
}

.notebook .block-info {
    margin-top: -25px;
    overflow: hidden;
    position: relative;
    top: 28px;
    z-index: 1;
}

.notebook .block-type {
    color: #888888;
    font-size: 15px;
    font-weight: bold;
    float: right;
    text-align: center;
    padding: 5px 10px;
}

.notebook .block-result {
    background-color: #ffffff;
    border: 1px solid #eae2e5;
    font-family: "monospace", "arial", "verdana";
    margin: 10px 0;
    padding: 5px 0;
}

.notebook .block-result-markdown {
    background-color: transparent !important;
    border: 0 !important;
    font-family: "arial", "verdana", "trebuchet ms" !important;
    margin: 0 !important;
    padding: 0 !important;
}

.notebook .block-result > span {
    padding: 5px;
    display: inline-block;
}

.notebook .block-result-execution-order {
    background-color: #eae2e5;
    color: #000000;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 0 5px;
}

.notebook .block-result-success {
    background-color: #f0ffe9;
    border-color: #55694d;
    color: #55694d;
}

.notebook .block-result-success .block-result-execution-order {
    background-color: #55694d;
    color: #ffffff;
}

.notebook .block-result-error {
    background-color: #fff2f2;
    border-color: #694d4d;
    color: #694d4d;
}

.notebook .block-result-error .block-result-execution-order {
    background-color: #694d4d;
    color: #ffffff;
}

#tau-prolog-version {
    color: #48912c;
    float: right;
    position: relative;
    top: 16px;
}

#tau-prolog-version.noserver {
    color: #912c2c;
}